body {
    font-family: 'Roboto', sans-serif;
    background: #659999;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
    margin: 0px;
    background-color: #2980b9;
    color:white;
    padding:10px 20px;
    font-size:24px;
    font-weight:normal;
}
ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
input {
    border: none;
    width: 100%;
    font-size:18px;
    background-color: #f7f7f7;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color:#2980b9;
    transition: .2s linear;
}
span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}
ul {
    padding: 0;
}
li {
    height:40px;
    background-color: white;
    line-height:40px;

}
.completed {
    text-decoration: line-through;
    color:grey;
}
.min {
    height: 0;
    padding: 0;
    width: 0;
}
.fas {
    float:right;
}
li:nth-child(2n){
    background-color:#f7f7f7;
}
li:hover span {
    opacity: 1.0;
    width: 40px;
}
input:focus {
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}
#container {
    width: 360px;
    margin: 100px auto;
    box-shadow:0 0 3px rgba(0,0,0,0.1);
}
























